---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import ArticleCard from "../components/ArticleCard.astro";

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: "published", // or 'published'
  starts_with: "blog/",
  is_startpage: 0,
  sort_by: "content.publish_date:desc",
  per_page: "100",
});

const blogs = data.stories;
---

<section class="inner-section half-padding" {...storyblokEditable(blok)}>
  <div class="ipu">
    <div class="flex-wrap wrap-three">
      {
        blogs?.map((blog) => {
          return <ArticleCard blog={blog.content} slug={blog.slug} />;
        })
      }
    </div>
  </div>
</section>
