---
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";
import { storyblokEditable } from "@storyblok/astro";

import Toc from "../components/Toc.astro";
import Wysiwyg from "./Wysiwyg.astro";

const { blok } = Astro.props;

---

<article {...storyblokEditable(blok)}>
  <div class='hero bg-cover max-w-full pb-[12%]'>
    <div class='container mx-auto'>
      <h1 class='py-16 text-6xl text-white font-bold text-left font-serif w-3/4'>
        {blok.title}
      </h1>
      { blok.update_date ? (
        <p class="text-left text-white"><strong>Updated on:</strong> {new Date(blok.update_date).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})}</p>
      ) : (
        <p class="text-left text-white"><strong>Published on:</strong> {new Date(blok.publish_date).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})}</p>
      )}
    </div>
   </div>

   <div class="container mx-auto mb-12 lg:grid lg:grid-cols-12 lg:gap-10">
    <div class="col-span-4">
      <div class="sticky top-4 h-screen overflow-y-auto overscroll-contain">
        <h2 class="text-2xl text-light-teal font-bold mb-4 font-serif">
          In this article
        </h2>
        <Toc content={blok.post.content} />
      </div>
    </div>
    <Wysiwyg
      class="prose prose-headings:font-serif max-w-none col-span-8" 
      blok={blok} content={blok.post} />
  </div>
</article>
