---
import ArticleCard from "../components/ArticleCard.astro";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
const blogs = blok.blogs;
---

<section {...storyblokEditable(blok)} class="ipu featured-blogs">
  <p class="prehead">{blok.prehead}</p>
  <TitleElement class="blok-title">{blok.headline}</TitleElement>
  <div class="articles-grid">
    {
      blogs?.map((blog) => {
        return <ArticleCard blog={blog.content} slug={blog.slug} />;
      })
    }
  </div>
</section>
