---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
 const TitleElement = blok.heading_level || 'p'

 ---
 
<div
  {...storyblokEditable(blok)}
  class='max-w-full p-12 bg-white'
>
  <div class='container mx-auto w-full'>
    <div class="relative z-20">
      <TitleElement 
        class="font-serif text-left text-light-teal text-5xl md:text-6xl lg:text-7xl xl:text-7xl xl:leading-tight lg:w-2/3 w-full"
      >
        {blok.headline}
      </TitleElement>
    </div>
    <div class="grid mr-0 mb-0 ml-0 grid-cols-1 gap-14 lg:grid-cols-2 mt-8">
      <div class="flex flex-col md:flex-row text-white">
        <p class="font-serif text-light-teal 2xl:uppercase 2xl:text-3xl text-9xl">01</p>
        <div class="relative space-y-2">
          <p class="text-xl font-bold text-grey leading-relaxed">
            Cosmic fugue circumnavigated Euclid quasar Hypatia rich in mystery
          </p>
          <p class="text-lg text-grey">
            Intelligent beings concept of the number one star stuff harvesting star light corpus callosum tingling of the spine Vangelis
          </p>
        </div>
      </div>
      <div class="text-black flex flex-col md:flex-row">
        <p class="font-serif text-light-teal 2xl:uppercase 2xl:text-3xl text-9xl">02</p>
        <div class="relative space-y-2">
          <p class="text-xl font-bold leading-relaxed text-grey">
            Courage of our questions not a sunrise but a galaxyrise
          </p>
          <p class="text-lg text-grey">
            Not a sunrise but a galaxyrise emerged into consciousness the only home we've ever known
          </p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row text-black">
        <p class="font-serif text-light-teal 2xl:uppercase 2xl:text-3xl text-9xl">03</p>
        <div class="relative space-y-2">
          <p class="text-xl font-bold text-grey leading-relaxed">
            Venture dream of the mind's eye
          </p>
          <p class="text-lg text-grey">
            two ghostly white figures in coveralls and helmets are softly dancing star stuff harvesting star light the only home we've ever known corpus callosum?
          </p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row text-black">
        <p class="font-serif text-light-teal 2xl:uppercase 2xl:text-3xl text-9xl">04</p>
        <div class="relative space-y-2">
          <p class="text-xl font-bold leading-relaxed text-grey">
            Kindling the energy hidden in matter
          </p>
          <p class="text-lg text-grey">
            Star stuff harvesting star light citizens of distant epochs vanquish the impossible a still more glorious dawn awaits?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>