---
import { storyblokEditable } from '@storyblok/astro'
 
const { blok } = Astro.props
const TitleElement = blok.heading_level || 'p'
---

<div {...storyblokEditable(blok)}>
  <section class='hero-child'>
    <div class="column">
      {blok.prehead &&
        <p class="prehead">{blok.prehead}</p>
      }
      <TitleElement class='headline'>
        {blok.headline}
      </TitleElement>
      <p>{blok.description}</p>
      {blok.cta &&
        <a href="/contact" title="Connect with an Expert from Gray Dot Co" class="btnPrimary">Connect with an Expert</a>
      }
    </div>
  </section>
</div>
