---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
 const TitleElement = blok.heading_level
 ---
  
 <div {...storyblokEditable(blok)}>
   <p class="text-l text-[#026670] italic text-left">
     {blok.prehead} 
   </p>   
   <TitleElement class='py-8 text-6xl text-[#50b0ae] font-bold text-left font-serif'>
     {blok.headline}
   </TitleElement>
   <p class="text-left">
     {blok.description}
   </p>
   { blok.cta &&
    <a href="/contact" title="Connect with an Expert from Gray Dot Co"><button class="rounded-full my-3 p-3 bg-[#026670]">Connect with an Expert</button></a> 
   }
 </div>