---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
 const TitleElement = blok.heading_level
 ---
  
 <div {...storyblokEditable(blok)}>
  <div class='container mx-auto'>
   <p class="text-l text-teal italic text-left">
     {blok.prehead} 
   </p>   
   <TitleElement class='py-8 text-6xl text-teal font-bold text-left font-serif'>
     {blok.headline}
   </TitleElement>
   <p class="text-left">
     {blok.description}
   </p>
   { blok.cta &&
    <a href="/contact" title="Connect with an Expert from Gray Dot Co"><button class="rounded-full my-3 p-3 bg-teal">Connect with an Expert</button></a> 
   }
   </div>
 </div>