---
import { storyblokEditable } from "@storyblok/astro";
import { transformImageSrc } from "../utils/imageUtils";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  <div class="ipu no-v-padding">
    <div class="flex-wrap margin-l">
      {
        blok.images?.map((image) => (
          <div>
            <img src={transformImageSrc(`${image.filename}/m/`)} alt={`${image.alt}`} />
            <figcaption>{image.title}</figcaption>
          </div>
        ))
      }
    </div>
  </div>
</section>
