---
import { storyblokEditable } from '@storyblok/astro'
 
const { blok } = Astro.props
 ---
  
 <li
   {...storyblokEditable(blok)}
   class='w-full p-12 bg-[#f7f6fd] rounded-[5px] text-left'>
   {blok.content}
 </li>