---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
 
const { blok } = Astro.props
const TitleElement = blok.heading_level

---

<div
  {...storyblokEditable(blok)}
  class='w-full p-12 md:flex md:flex-row'>
  <div class='md:basis-1/2 text-left'>
   <img
     class='w-[60px] h-[65px] object-cover'
     src={`${blok.icon.filename}/m/60x0`}
   />
   <TitleElement class='text-2xl text-light-teal font-serif text-left'>{blok.heading}</TitleElement>
  </div>
  <div class='md:basis-1/2 text-left'>
   <ul class='list-disc list-inside px-8'>
     {
     blok.list?.map((blok) => {
       return <StoryblokComponent blok={blok} />
     })
   }
   </ul>
  </div>
</div>
