---
import { storyblokEditable } from '@storyblok/astro'
import Wysiwyg from "./Wysiwyg.astro"; 

const { blok } = Astro.props

let href = null;
let target = null;
if (blok.link) {
  if (blok.link.linktype === "url") {
    href = blok.link.url;
  } else if (blok.link.linktype === "story" && blok.link.story) {
    href = "/" + blok.link.story.full_slug;
  }
  if (blok.link.target) {
    target = blok.link.target;
  }
}
---

<div {...storyblokEditable(blok)} class="card-grey">
  {blok.highlight && <p class="inner-highlight">{blok.highlight}</p>}
  {blok.content && <p>{blok.content}</p>}
  {blok.description?.content?.[0] && <Wysiwyg blok={blok} content={blok.description} />}
</div>