---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
 
const { blok } = Astro.props
---
 
<div {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => {
      return <StoryblokComponent blok={blok} />
    })
  }

  {/* Custom Structured Data */}
{blok.custom_structured_data && (
  <script type="application/ld+json" set:html={blok.custom_structured_data}></script>
)}
</div>