---
import CardTestimonial from "../components/CardTestimonial.astro";
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";

// Fetch the full author data
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  by_uuids: blok.testimonials.join(","),
  version: "published",
});

const testimonials = data.stories;
---

<section {...storyblokEditable(blok)} class="no-padding ipu testimonials">
  <p class="prehead">{blok.prehead}</p>
  <TitleElement class="blok-title">{blok.headline}</TitleElement>

  <div class="col-flex-row y-scroll align-center">
    {
      testimonials?.map((testimonial) => {
        return <CardTestimonial testimonial={testimonial.content} />;
      })
    }
  </div>
</section>
