---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
 
const { blok } = Astro.props
---

<div class="ipu">
  <iframe
    src={`https://www.youtube.com/embed/${blok.videoId}?autoplay=0&rel=0&color=white`}
    frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  />
</div>
