---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/contact", {
  version: "draft",
});

const story = data.story;
---

<BaseLayout>
  <StoryblokComponent blok={story.content} />
  <div class="container mx-auto grid lg:grid-cols-12 gap-8 py-12">
    <div class="text-light-teal font-serif text-4xl px-4 lg:col-span-5 lg:pr-8">
      <p>
        Serving businesses across the world, with the majority based in the US,
        Canada and the UK.
      </p>
    </div>
    <div class="lg:col-span-7 text-grey">
      <form id="contact" name="contact" method="POST" netlify>
        <div class="bg-light-grey rounded py-6 px-8">
          <label class="block uppercase text-base font-bold py-2" for="email">Email</label>
          <input type="email" id="email" name="email" class="border border-util-grey rounded w-full h-10 px-4" required/>
          <label class="block uppercase text-base font-bold py-3" for="firstname">First Name</label>
          <input type="text" id="firstname" name="firstname"class="border border-util-grey rounded w-full h-10 px-4" required/>
          <label class="block uppercase text-base font-bold py-3" for="lastname">Last Name</label>
          <input type="text" id="lastname" name="lastname" class="border border-util-grey rounded w-full h-10 px-4" required/>
          <label class="block uppercase text-base font-bold py-3" for="message">Message</label>
          <textarea id="message" name="message" class="rounded border border-util-grey rounded w-full p-4 h-24" required></textarea>
        </div>
        <p class="text-xs py-3">
          The Gray Dot Company is committed to protecting and respecting your
          privacy, and we’ll only use your personal information to administer
          your account and to provide the products and services you requested
          from us. From time to time, we would like to contact you about our
          products and services, as well as other content that may be of
          interest to you. If you consent to us contacting you for this purpose,
          please tick below to say how you would like us to contact you:
        </p>
        <div class="checkbox-consent">
            <label class="control control--checkbox uppercase text-sm pt-1">
              I agree to receive other communications from Gray Dot Co
              <input type="checkbox" id="consent" name="consent"/>
              <div class="control__indicator"></div>
            </label>
          </div>
        <p class="text-xs py-3">
          You can unsubscribe from these communications at any time. For more
          information on how to unsubscribe, our privacy practices, and how we
          are committed to protecting and respecting your privacy, please review
          our Privacy Policy. By clicking submit below, you consent to allow The
          Gray Dot Company to store and process the personal information
          submitted above to provide you the content requested.
        </p>
        <input type="submit" name="submit" id="submit" value="Submit" class="rounded-full my-3 px-8 p-3 bg-teal text-white font-bold uppercase">
      </form>
    </div>
  </div>
</BaseLayout>
