@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-teal;
    }
}

.hero {
    background-image: url("/src/images/teal-paint-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);   
}

footer {
    background-image: url("/src/images/teal-paint-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.checkbox-consent .control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
  }
  .checkbox-consent .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .checkbox-consent .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ebeded;
  }
  .checkbox-consent .control:hover input ~ .control__indicator,
  .checkbox-consent .control input:focus ~ .control__indicator {
    background: #ccc;
  }
  .checkbox-consent .control input:checked ~ .control__indicator {
    background: #026670;
  }
  .checkbox-consent .control:hover input:not([disabled]):checked ~ .control__indicator,
  .checkbox-consent .control input:checked:focus ~ .control__indicator {
    background: #026670;
  }
  .checkbox-consent .control input:disabled ~ .control__indicator {
    background: #ebeded;
    opacity: 0.6;
    pointer-events: none;
  }
  .checkbox-consent .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .checkbox-consent .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .checkbox-consent .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .checkbox-consent .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }