---
import { Image } from "astro:assets";
import whiteLogo from "../images/white_logo.png";
---

<footer>
  <div
    class="container pt-16 pb-6 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl"
  >
    <div
      class="grid gap-10 row-gap-6 py-8 sm:grid-cols-2 lg:grid-cols-6 sm:justify-center"
    >
      <div
        class="sm:col-span-2 sm:order-last lg:order-first sm:text-center lg:text-left"
      >
        <a
          href="/"
          aria-label="Go home"
          title="Gray Dot Co"
          class="inline-flex items-center"
        >
          <Image src={whiteLogo} alt="Gray Dot Co Logo" width="200" /></a
        >
        <div class="mt-6 lg:max-w-sm">
          <p class="text-sm text-white pt-3">
            <a href="/sitemap" title="Gray Dot Co Sitemap" class="text-white"
              >Sitemap</a
            >&nbsp;&nbsp;&nbsp;<a
              href="/privacy"
              title="Click to See the Gray Dot Co Privacy Policy"
              class="text-white">Privacy Policy</a
            >
            <br />
            &copy; 2024 Gray Dot Co
          </p>
        </div>
      </div>
      <div class="text-sm sm:col-span-2 grid grid-cols-4 gap-10">
        <div class="lg:col-span-2 sm:col-start-2 sm:text-center lg:text-left">
          <p class="text-white text-base pb-2">
            <a
              href="/services"
              class="text-white"
              title="View Gray Dot Co Services">Services</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a
              href="/services/discovery"
              class="text-white"
              title="Learn More About Our Digital Discoveries">Discovery</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a
              href="/services/data"
              class="text-white"
              title="Learn More About Our Data and Analytics Services">Data</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a
              href="/services/search"
              class="text-white"
              title="Explore Our Search Marketing Capabilities">Search</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a
              href="/digital-market-intelligence"
              class="text-white"
              title="Learn What Makes Digital Market Intelligence and Research Different"
              >Research</a
            >
          </p>
          <p class="text-white text-base">
            <a
              href="/industry"
              class="text-white"
              title="Learn What Industries We Work In">Industries</a
            >
          </p>
        </div>
        <div class="lg:col-span-2 sm:col-start-3 sm:text-center lg:text-left">
          <p class="text-white text-base pb-2">
            <a
              href="/approach"
              class="text-white"
              title="See How Our Approach is Different">Approach</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a href="/results" class="text-white" title="Enjoy the Wins With Us"
              >Results</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a
              href="/resources"
              class="text-white"
              title="Access our Free SEO and Digital Marketing Resources"
              >Resources</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a
              href="/blog"
              class="text-white"
              title="Read Our Unique Perspective and Blog">Perspective</a
            >
          </p>
          <p class="text-white text-base pb-2">
            <a href="/about" class="text-white" title="Learn About Gray Dot Co"
              >About</a
            >
          </p>
          <p class="text-white text-base">
            <a href="/contact" class="text-white" title="Contact Gray Dot Co"
              >Contact</a
            >
          </p>
        </div>
      </div>
      <div class="sm:order-first lg:order-last sm:col-span-2">
        <div class="flex mt-1 space-x-8 justify-center">
          <a
            href="https://twitter.com/GrayDotCo"
            title="Gray Dot Co on Twitter/X"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#FFF"
              viewBox="0 0 24 24"
              width="45"
            >
              <path
                d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/company/graydotco"
            title="Gray Dot Co on LinkedIn"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#FFF"
              viewBox="0 0 24 24"
              width="45"
            >
              <path
                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.youtube.com/@GrayDotCo"
            title="Gray Dot Co on YouTube"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#FFF"
              viewBox="0 0 24 24"
              width="45"
            >
              <path
                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
              ></path>
            </svg></a
          >
          <!-- TikTok logo 
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        className="h-5 w-5"
      >
        <path
          fill="#fff"
          d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"
        />
      </svg>
    -->
        </div>
      </div>
    </div>
  </div>
</footer>
