---
import { Image } from "astro:assets";
import whiteLogo from "../images/white_logo.svg";

const year = new Date().getFullYear();

---

<footer>
  <div class="ipu">
    <div class="col-flex footer-logo">
      <a href="/" aria-label="Go home" title="Gray Dot Co" class="logo">
        <Image src={whiteLogo} alt="Gray Dot Co Logo" height="25" />
          </a>
          <div>
        <a href="/sitemap" title="Gray Dot Co Sitemap">Sitemap</a>
        <a href="/privacy" title="Click to See the Gray Dot Co Privacy Policy">Privacy Policy</a>
        <p>©{year} Gray Dot Company, Inc.</p>
      </div>
    </div>


    <div class="col-flex-row space-even flex-wrap-mob">
      <ul class="footer-menu">
        <li><a href="/services" title="Explore Our Search Marketing Capabilities">Services</a></li>
        <li><a href="/industry" title="Explore the Industries We Serve">Industries</a></li>
        <li><a href="/digital-market-intelligence" title="Learn About Digital Market Intelligence">Market Intelligence</a></li>
        <li><a href="/approach" title="See How We Work">Approach</a></li>
        <li><a href="/results" title="See Gray Dot Co Results">Results</a></li>
      </ul>
      <ul class="footer-menu">
        <li><a href="/blog" title="Read Gray Dot Co Perspectives">Blog</a></li>
        <li><a href="/team" title="Learn Who We Are">About</a></li>
        <li><a href="/featured" title="See Where We've Been Featured">Featured</a></li>
        <li><a href="/impact" title="Learn More About Our Social Investments">Impact</a></li>
        <li><a href="/contact" title="Contact Gray Dot Co">Contact</a></li>
      </ul>
        </div>


      <div class="col-flex-row">
          <a href="https://bsky.app/profile/thegray.company" title="Gray Dot Co on Bluesky" target="_blank" style="margin-top:10px;">
            <svg role="img" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" height="32" width="32"><path d="M24 21.6c-2.174 -4.228 -8.092 -12.106 -13.596 -15.99C5.132 1.888 3.122 2.532 1.804 3.13 0.278 3.816 0 6.16 0 7.536c0 1.38 0.756 11.3 1.248 12.958 1.63 5.472 7.426 7.32 12.766 6.728 0.272 -0.04 0.55 -0.078 0.83 -0.112 -0.276 0.044 -0.552 0.08 -0.83 0.112 -7.824 1.16 -14.774 4.01 -5.66 14.156 10.026 10.38 13.74 -2.226 15.646 -8.616 1.906 6.39 4.1 18.542 15.466 8.616 8.534 -8.616 2.344 -12.996 -5.48 -14.156a17.482 17.482 0 0 1 -0.83 -0.112c0.28 0.034 0.558 0.072 0.83 0.112 5.34 0.594 11.136 -1.256 12.766 -6.728 0.492 -1.656 1.248 -11.58 1.248 -12.956 0 -1.38 -0.278 -3.722 -1.804 -4.412 -1.318 -0.596 -3.328 -1.24 -8.6 2.48C32.092 9.496 26.174 17.374 24 21.6Z" fill="#FFFFFF" stroke-width="2"></path></svg>
          </a>
          <a href="https://www.linkedin.com/company/graydotco" title="Gray Dot Co on LinkedIn" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
          <path d="M33.5845 12.75H14.4111C13.4927 12.75 12.75 13.4751 12.75 14.3716V33.624C12.75 34.5205 13.4927 35.25 14.4111 35.25H33.5845C34.5029 35.25 35.25 34.5205 35.25 33.6284V14.3716C35.25 13.4751 34.5029 12.75 33.5845 12.75ZM19.4253 31.9233H16.0854V21.1831H19.4253V31.9233ZM17.7554 19.7197C16.6831 19.7197 15.8174 18.854 15.8174 17.7861C15.8174 16.7183 16.6831 15.8525 17.7554 15.8525C18.8232 15.8525 19.689 16.7183 19.689 17.7861C19.689 18.8496 18.8232 19.7197 17.7554 19.7197ZM31.9233 31.9233H28.5879V26.7026C28.5879 25.459 28.5659 23.855 26.8521 23.855C25.1162 23.855 24.8525 25.2129 24.8525 26.6147V31.9233H21.5215V21.1831H24.7207V22.6509H24.7646C25.2085 21.8071 26.2983 20.915 27.9199 20.915C31.2993 20.915 31.9233 23.1387 31.9233 26.0303V31.9233Z" fill="white"/>
        </svg>
          </a>

      <a href="https://www.youtube.com/@GrayDotCo" title="Gray Dot Co on YouTube" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
          <path d="M38.6361 18.0273C38.6361 18.0273 38.3444 15.9681 37.446 15.0639C36.3085 13.8738 35.0368 13.868 34.4534 13.798C30.2767 13.4947 24.0056 13.4947 24.0056 13.4947H23.994C23.994 13.4947 17.723 13.4947 13.5462 13.798C12.9628 13.868 11.6911 13.8738 10.5536 15.0639C9.65522 15.9681 9.36938 18.0273 9.36938 18.0273C9.36938 18.0273 9.06604 20.4482 9.06604 22.8633V25.1267C9.06604 27.5417 9.36355 29.9626 9.36355 29.9626C9.36355 29.9626 9.65522 32.0219 10.5477 32.926C11.6853 34.1161 13.1787 34.0752 13.8437 34.2036C16.2354 34.4311 23.9998 34.5011 23.9998 34.5011C23.9998 34.5011 30.2767 34.4894 34.4534 34.1919C35.0368 34.1219 36.3085 34.1161 37.446 32.926C38.3444 32.0219 38.6361 29.9626 38.6361 29.9626C38.6361 29.9626 38.9336 27.5476 38.9336 25.1267V22.8633C38.9336 20.4482 38.6361 18.0273 38.6361 18.0273ZM20.9139 27.8742V19.4798L28.9816 23.6916L20.9139 27.8742Z" fill="white"/>
        </svg>
      </a>
      </div>
  </div>
</footer>
