---
import { useStoryblokApi } from '@storyblok/astro'
import { Image } from "astro:assets";
import fullLogo from "../images/color_logo.svg";

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/config', {
  version: 'draft',
  resolve_links: 'url',
})

const nav_items = data.story.content.header_menu;
---

<header>
  <a class="logo" href="/">
    <Image src={fullLogo} alt="Gray Dot Co Logo"  height="34" />
  </a>
    
  <nav>
    <div class="menu-button" href="#">
      <img class="menu-open" src="img/ic_menu_open.svg" width="48" height="48" />
      <img class="menu-close" src="img/ic_menu_close.svg" width="48" height="48" />
    </div>

    <div class="menu-container">

        <ul class="co-menu">
        <li><a href="/team">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>

      <hr />

      <div class="primary-menu">
        <ul class="nav-links">
            <li class="dropdown">
              <a href="/services">Consulting</a>
              <div class="dropdown-content">
                    <div class="column">
                        <p class="subcat">Strategy</p>
                        <a href="/services/discovery"">Discovery</a>
                        <a href="/services/seo-product-management">SEO Product Management</a>
                    </div>
                    <hr />
                    <div class="column">
                        <p class="subcat">Data</p>
                        <a href="/services/analytics-audits">Auditing</a>
                        <a href="/services/dashboarding-storytelling">Dashboards</a>
                        <a href="/services/seo-traffic-investigation">Traffic Drop Investigations</a>
                    </div>
                    <hr />
                    <div class="column">
                        <p class="subcat">Marketing</p>
                        <a href="/services/seo-strategy">SEO Strategy</a>
                        <a href="/services/technical-seo">Technical SEO</a>
                        <a href="/services/ppc-paid-search-consulting">PPC</a>
                        <a href="/services/content-marketing-strategy">Content Marketing</a>

                    </div>
                </div>
            </li>
            <li><a href="/digital-market-intelligence">Market intelligence</a></li>
            <li><a href="/approach">Approach</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/blog">Perspective</a></li>
        </ul>
    </div>
</div>
</nav>
</header>
