---
import { Image } from "astro:assets";
import traph from "../images/traph.png";
---

<section class="align-middle img-left newsletter">
  <div class="ipu">
    <div>
      <p class="blok-title">Stay In the Know</p>
      <div id="mc_embed_shell">
        <div id="mc_embed_signup">
          <form
            action="https://company.us1.list-manage.com/subscribe/post?u=855adde0ea19b41028f9c3595&id=2a74a6b875&f_id=003f93e5f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_self"
            novalidate=""
          >
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email</label><input
                  type="email"
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                  required=""
                  value=""
                />
              </div>
              <div id="mce-responses" class="clear">
                <div
                  class="response"
                  id="mce-error-response"
                  style="display: none;"
                >
                </div>
                <div
                  class="response"
                  id="mce-success-response"
                  style="display: none;"
                >
                </div>
              </div><div
                aria-hidden="true"
                style="position: absolute; left: -5000px;"
              >
                <input
                  type="text"
                  name="b_855adde0ea19b41028f9c3595_2a74a6b875"
                  tabindex="-1"
                  value=""
                />
              </div><div class="clear">
                <input
                  type="submit"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="btnPrimary"
                  value="Join the Mailing List"
                />
              </div>
            </div>
          </form>
        </div>
        <p class="footnote">
          You can unsubscribe at any time using the link in our emails. For more
          details, review our <a href="/privacy" target="_blank"
            >privacy policy.</a>
        </p>
      </div>
    </div>
    <div>
        <Image
        src={traph}
        alt="decorative shape"
        width="297"
        height="212"
        class="newsletter"
    />
    </div>
  </div>
</section>
