---
import {generateSlug} from '../js/addIdsToHeadings.js';
import { buildToc } from "../js/toc.js";


const { content } = Astro.props;
const headings = buildToc(content);

---

<div>
  <ul role="list" class="">
    {
      headings.map((heading) => (
        <li class="relative">
          <a href={'#' + generateSlug(heading.text)} class="flex justify-between gap-2 py-1 pr-3 hover:underline text-sm transition pl-0 text-zinc-900 ">
            {heading.text}
          </a>

          {heading.children && (
            <ul role="list" style="opacity:1">
              {heading.children.map((child) => (
                <li>
                  <a href={'#' + generateSlug(child.text)} class="flex justify-between gap-2 py-1 pr-3 hover:underline text-sm transition pl-4 text-teal hover:text-zinc-900 ">
                    {child.text}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</div>
